.chart-title {
  color: green;       
  font-size: 2em;     
  text-align: center; 
  margin-bottom: 20px;
}

.chart-sub-title {
  color: brown;       
  font-size: 1.5em;     
  text-align: center; 
  margin-bottom: 10px;
}

#myd3Chart {
  width: 400px;
  height: 400px;
  margin: 0 auto; 
}